@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    text-align: center;
    padding: 0;
    margin:0;
}
body{
    background: rgb(34, 32, 32);
    
}
.fondo{
    background-color: rgba(0, 0, 0, 0.603);
    background-size: 100vh;
    height: 100vh;  

}
header{
    background-image:url(https://img.microsiervos.com/Peliculas-Ready-Player-One.jpg);
    background-size: 100vh;
    height: 100vh;  
    
}
main h1{
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(7, 7, 7) 0px 3px;
    margin: 10vh;
}

.contenedornav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px;
}
.logotipo{
    font-family: 'Bebas Neue', cursive;
    padding: 20px ;
    font-size: 40px;
    color: rgb(255, 38, 0);
    text-shadow: rgb(3, 3, 3) 0px 3px 0px ;
}

.boton{
    padding:px 0px 0px;
    
    
}
button{
    width: 100%;
    background: rgb(201, 25, 19);
    border: rgba(255, 255, 255, 0.589) solid 1px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    
}
button:hover{
    background: rgb(230, 27, 20);
    transition: 0.5s;
}

.registro{
    color: rgb(255, 255, 255);
    text-shadow: black 0px 2px;
    font-size: 18px;
}
/*Contenedor1*/

.contenedor1{
    display: flex;
    margin: 10vh;
}
.izquierda{
    color: blanchedalmond;
    width: 50%;
}
.derecha{
    width: 50%;
}
.derecha img{
    height: 200px;
}
/*Contenedor2*/
.contenedor2{
    display: flex;
    margin: 10vh;
}
.derecha2{
    color: aliceblue;
  width: 50%;
}
.izquierda2{
    width: 50%;
}
.izquierda2 img{
    height: 150px;
}

/* FOOTER DE TODA LA PAGINA*/
.footer{ 
    color: rgba(255, 235, 205, 0.514); 
    margin: 0;
    height: 10vh; 
}
.footer ul{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: rgba(255, 235, 205, 0.514); 
}
.footer a:hover{
    text-decoration: underline;
}
#lenguage{
    background-color: rgba(0, 0, 0, 0.74);
    color: rgba(255, 255, 255, 0.418);
}
.social a{
    justify-content: left;
    padding: 30px; 
    margin: 0px;
}
.social img{
    width: 3%;
}
/*Pantalla grande*/
@media screen and (max-width:1200px){
    .contenedor2{
        display: flex;
        margin: 0vh;
    }
    .derecha2{
        color: aliceblue;
      width: 50%;
    }
    .izquierda2{
        
        width:50%;
    }
    .izquierda2 img{
        height: 100px;
        width: 1;
        
    }

 
   
}





/*Pantalla Mediana*/
@media screen and (max-width:737px){
    .contenedor2{
        display: block;
        margin: 10vh;
    }
    .derecha2{
      color: aliceblue;
      width: 100%;
    }
    .izquierda2{
        
        width:100%;
    }
    .izquierda2 img{
        height: 100px;
        
    }
   
    /*Pantalla pequeña*/
    @media screen and (max-width:400px){
   
   
    /*Contenedor1*/
    
    .contenedor1{
        display: flex;
        margin: 10vh;
    }
    .izquierda{
        color: aliceblue;
        width: 90%;
    }
    .derecha{
        width: 50%;
    }
    .derecha img{
        height: 200px;
    }
    /*Contenedor*/
    .contenedor2{
        display: grid;
        margin: 10vh;
    }
    .derecha2{
      color: aliceblue;
      width: 100%;
    }
    .izquierda2{
        
        width:100%;
    }
    .izquierda2 img{
        height: 90px;
        
    }
}

/*Pagina principal*/

div.gallery {
    margin: 2px;
    border: 1px solid rgba(255, 0, 128, 0.267);
    width: 250px;
background: linear-gradient(black,black,rgb(255, 5, 130));

}
div.gallery:hover {
    border: 3px solid rgb(255, 200, 20);}
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 5px;
    text-align: center;
    color: rgb(0, 136, 255);
  }
.fila1{
  display: flex;
  justify-content: center;
}
.fila2{
  display: flex;
  justify-content: center;
}
}