@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media screen and (max-width:1200px) {
    
}

*,
*::after,
*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.login-page{
    background-image:linear-gradient(to  bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.445)),url(https://img.microsiervos.com/Peliculas-Ready-Player-One.jpg);
    background-position: top;
    min-width: 100%;
    min-height: 100%;

}




/*LOGOTIPO*/
.logotipo{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(255, 38, 0);
    text-shadow: rgb(3, 3, 3) 0px 3px 0px ;
    z-index: 100;
}

/*Formulario de Registro*/
.footer{    
    padding: 250px 40px 50px;
    background-color: rgba(0, 0, 0, 0.342);
    margin: auto;
}
.footer a:hover{
    text-decoration: underline;
}
.footer-info{
    max-width: 1000px;
    margin: auto;
}
.footer-info p{
    color:grey
}
.footer-info p a{
    color: inherit;
    text-decoration: none;
}
.footer-links{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-links_item{
    width: 250px;
    min-width: 200px;
}
.footer-links_item a{
    color: grey;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-info select{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.589);
    color: gray;
    outline: none;
    padding: 13px;
}
