
*{
    text-align: center;
    
}
header{
    padding: 100px;
    font-size: 25px;
    font-variant: small-caps;
    color:burlywood ;
    text-shadow: 1px 1px 2px #222;
    
}
main{
    padding: 0px 10px 3px;
}
footer{
    background-color: brown;
    color: burlywood;
    padding: 20px;
   
}
button{
    background-color: brown;
    border: rgb(180, 191, 112) solid 1px;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover{
 background-color: #222;
 transition: 1s;
 color: red;
 text-shadow: rgb(18, 205, 211) 20px;
}